swagger: "2.0"
info:
  description: "Documentación de la API que interconexión entre sistemas del Grupo Rieder con la red de cobranzas PractiPago"
  version: "1.0.0"
  title: "Red de cobranzas PractiPago"
host: "intranet.rieder.com.py"
basePath: "/red-cobranzas/practipago/api"
schemes:
- "https"
paths:
  /servicios:
    get:
      summary: "Obtiene la lista de servicios disponibles para la cobranza"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "200":
          description: "Consulta realizada con éxito"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Servicios"
        "500":
          description: "Error interno del servidor al procesar la solicitud"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - api_key: []
  /consultar-cuentas:
    get:
      summary: "Consulta cuentas por cobrar por cliente y producto específico"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "cod_producto"
        in: "query"
        description: "Código de producto que se desea cobrar. La lista de códigos está dada por el endpoint /servicios"
        required: true
        type: "string"
      - name: "nro_documento"
        in: "query"
        description: "Número de documento de identidad o RUC del cliente (con o sin guiones)"
        required: true
        type: "string"
      responses:
        "200":
          description: "Consulta realizada con éxito"
          schema:
            $ref: "#/definitions/ResultadoConsultaCuentas"
        "202":
          description: "Cliente identificado, pero no tiene deudas del producto especificado, o dichas deudas no pueden cobrarse por esta plataforma de pagos"
        "400":
          description: "Error al realizar la consulta"
          schema:
            $ref: "#/definitions/ApiError"
        "404":
          description: "No se encontró al cliente con el número de documento o RUC especificados"
        "500":
          description: "Error interno del servidor al procesar la solicitud"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - api_key: []
  /registrar-cobro:
    post:
      summary: "Registra el cobro de cuentas de clientes"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/RegistroCobros"
      responses:
        "200":
          description: "Proceso realizado con éxito"
        "400":
          description: "Error al registrar el cobro"
          schema:
            $ref: "#/definitions/ApiError"
        "500":
          description: "Error interno del servidor al procesar la solicitud"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - api_key: []
  /reversar-cobro:
    post:
      summary: "Reversa un cobro previamente registrado por el servicio de cobranza"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/ReversarCobro"
      responses:
        "200":
          description: "Proceso realizado con éxito"
        "400":
          description: "Error al reversar el cobro"
          schema:
            $ref: "#/definitions/ApiError"
        "500":
          description: "Error interno del servidor al procesar la solicitud"
          schema:
            $ref: "#/definitions/ApiError"
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "API_KEY"
    in: "header"
definitions:
  Servicios:
    type: "object"
    properties:
      cod_producto:
        type: "string"
        example: "RI"
      des_producto:
        type: "string"
        example: "Rieder Internet"
  DatosCliente:
    type: "object"
    properties:
      cod_cliente:
        type: "string"
        example: "RC-12345"
      nom_cliente:
        type: "string"
        example: "Juan Pérez"
      nro_doc_id:
        type: "string"
        example: "1234567"
      tipo_doc_id:
        type: "string"
        example: "Cedula de Identidad"
  DatosCuenta:
    type: "object"
    properties:
      cod_cuenta:
        description: "Código de referencia único para la deuda a cobrar"
        type: "string"
        example: "RC-1234567-1"
      descripcion:
        description: "Describe el origen de la deuda"
        type: "string"
        example: "Automóviles Renault"
      nro_documento:
        description: "Número de la factura a la que corresponde la deuda"
        type: "string"
        example: "001-001-0000123"
      nro_cuota:
        description: "Si la factura no tiene cuotas, nro_cuota tiene valor null"
        type: "string"
        example: "1/12"
      fecha_emision:
        type: "string"
        format: "date"
        example: "2021-01-01"
      fecha_vencimiento:
        type: "string"
        format: "date"
        example: "2021-07-30"
      moneda:
        type: "string"
        enum:
        - "GS"
        - "USD"
        example: "USD"
      importe_original:
        description: "Importe original de la cuenta a cobrar expresado en la moneda original del documento"
        type: "number"
        example: "120.00"
      saldo_actual:
        description: "Saldo de la cuenta a cobrar expresado en la moneda original del documento. Normalmente es el mismo que importe_original, excepto en casos donde previamente el cliente hizo un pago parcial de la deuda o se aplicó alguna nota de crédito sobre la misma."
        type: "number"
        example: "120.00"
      intereses:
        description: "Importe de intereses moratorios y/o punitorios a cobrar, expresado en la moneda original del documento. Si el valor es diferente a cero, se generará una factura por este concepto y se le enviará al cliente por algún medio. Esta facturación no será realizada por el servicio de cobranzas."
        type: "number"
        example: "0"
      tasa_cambio:
        description: "Tasa de cambio al que convierte el saldo de la deuda en moneda extranjera para su cobro en guaranies. Si la moneda original del documento es guaraníes, se devuelve 1 (uno)"
        type: "number"
        example: "6500.00"
      importe_a_cobrar_gs:
        description: "Importe a cobrar por el servicio de cobranzas en moneda Guaranies. Es la suma de saldo + interes multiplicado por el valor de tasa_cambio"
        type: "integer"
        format: "int32"
        example: "780000"
      importe_minimo_a_cobrar_gs:
        description: "Monto mínimo a cobrar por el servicio de cobranzas en moneda Guaranies. Si es igual a monto_a_cobrar_gs (normalmente) significa que no se aceptan pagos parciales."
        type: "integer"
        format: "int32"
        example: "780000"
  ResultadoConsultaCuentas:
    type: "object"
    properties:
      cliente:
        $ref: "#/definitions/DatosCliente"
      cuentas:
        type: "array"
        items:
          $ref: "#/definitions/DatosCuenta"
  RegistroCobros:
    required:
      - cod_producto
      - cod_cliente
      - cod_operacion
      - detalle_cuentas
    type: "object"
    properties:
      cod_producto:
        description: "Código del producto cobrado"
        type: "string"
        example: "RYC"
      cod_cliente:
        description: "Código del cliente al que se cobró"
        type: "string"
        example: "RC-12345"
      cod_operacion:
        description: "Código de la operación generado por el servicio de cobranzas"
        type: "string"
        example: "90123456789"
      detalle_cuentas:
        type: "array"
        items:
          $ref: "#/definitions/RegistroCobrosCuentas"
  RegistroCobrosCuentas:
    required:
      - cod_cuenta
      - tasa_cambio
      - monto_cobrado_gs
    type: "object"
    properties:
      cod_cuenta:
        description: "Código de referencia único para la deuda a cobrar, obtenido en la llamada a /consultar-cuentas"
        type: "string"
        example: "RC-1234567-1"
      tasa_cambio:
        description: "Usar el mismo valor de tasa_cambio obtenido en la llamada a /consultar-cuentas"
        type: "number"
        example: "6500.00"
      monto_cobrado_gs:
        description: "Monto cobrado en guaraníes por el servicio de cobranzas"
        type: "integer"
        format: "int32"
        example: "780000.00"
  ReversarCobro:
    required:
    - "cod_operacion"
    type: "object"
    properties:
      cod_operacion:
        description: "Código de la operación generado por el servicio de cobranzas"
        type: "string"
        example: "90123456789"
  ApiError:
    type: "object"
    properties:
      reason_code:
        type: "string"
        description: "Codigo de razón del error"
        example: "CLIENTE_NO_ENCONTRADO"
      message:
        type: "string"
        description: "Mensaje descriptivo del motivo del error"
        example: "No se encontró un cliente con el número de documento/RUC especificado: 1234567-8"
